<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Question 2 Results!</title>
</head>
<body>
  <div class="container">
    <canvas id="myChart"></canvas>
  </div>
  <style>
      html{
        zoom : 110%;
      }
    </style>
    <script>
      var timeleft = 5;
      var downloadTimer = setInterval(function(){
        // document.getElementById("countdown").innerHTML = timeleft + " seconds remaining";
        timeleft -= 1;
        if(timeleft <= 0){
          clearInterval(downloadTimer);
        }
        window.setTimeout(function () {
              location.href = "question3";
          }, 5000);
      }, 1000);
      </script>
      <div id="countdown"></div>
  <script>
    let myChart = document.getElementById('myChart').getContext('2d');

    // Global Options
    Chart.defaults.global.defaultFontFamily = 'sans-serif';
    Chart.defaults.global.defaultFontSize = 30;
    Chart.defaults.global.defaultFontColor = '#777';

    let massPopChart = new Chart(myChart, {
      type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:['{{A21}}', '{{A22}}', '{{A23}}'],
        datasets:[{
          label:'Ranking Score',
          data:[
          {{scoreA21}},
          {{scoreA22}},
          {{scoreA23}}
          ],
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
        },
        title:{
          display:true,
          text:'Ranking Score',
          fontSize:40
        },

        legend:{
          display:false,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:50,
            right:50,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });
  </script>
<!-- 
<a href="question3">
    <button type="button" onclick= "Question3.html" class="btn btn-primary" style="height: 40px; width: 50px; font-size: 10px; border-radius: 20px;">Next</button>
    </a> -->
</body>
</html>
